
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 style="color:blue">Welcome to Asp.net MVC !!!</h1>
    <h2>Today's Date: @System.DateTime.Now.ToLongDateString()</h2>
    <p>Click <a href="/Demo/Welcome">here</a> to go to Info page.</p>
    <p>Click <a href="/Demo/View">here</a> to go to View page.</p>
</body>
</html>
