
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <h1 style="color:magenta">Welcome to Asp.net MVC !!!</h1>
    <h2>Today's Date:@System.DateTime.Now.ToLongDateString()</h2>
</body>
</html>
